span {
	width:33%;
	height:750px;
	display: inline-block;
	vertical-align: top;
	background-color: #303030;
	margin:0px;
	padding: 0px;
}

img {
  width: 450px;
  height: 500px;
  margin: 0px;
  padding:0px;
}

p {
	background-color: yellow;
}

